<div class="master">
  <div class="main">
    <div class="section-name">
      Настройки
    </div>

    <table class="table">
      <thead>
        <th scope="col">Название</th>
        <th scope="col">Ограничения SMS</th>
        <th scope="col">Цена 1 SMS</th>
        <th scope="col">Ссылка на GoIP</th>
        <th scope="col" colspan="2">Действие</th>
      </thead>
      <tbody>
        <tr>
        <tr>
          <td><input type="text" class="form-control" placeholder="GoIP1_1" aria-describedby="search"></td>
          <td><input type="text" class="form-control" placeholder="0" aria-describedby="search"></td>
          <td><input type="text" class="form-control" placeholder="0" aria-describedby="search"></td>
          <td><input type="text" class="form-control" placeholder="ссылка" aria-describedby="search"></td>
          <td>
            <button type="button" class="btn btn-outline-secondary">Изменить</button>
          </td>
          <td> <button type="button" class="btn btn-danger delete">✗</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>