.table td {
    width: 2vw;
}

.table-block{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 3vh;
    padding: 4vh;
    color: #373A3C;
    width: 48%;
    z-index: 2;
    width: 100%;
    font-size: 2vh;
    overflow: scroll;
} 

.table-block::-webkit-scrollbar {
    width:0px;
}
